<h1 class="title title animated jackInTheBox">{{titulo}}</h1>
<ul class="animated flipInX" *ngIf="modo=='list'">
  <p class="text-center" *ngIf="listas.length==0"><small>Você ainda não tem nenhuma tarefa hoje!</small></p>
  <li *ngFor="let item of listas">
    {{item.tarefa}} 
    <button *ngIf="!item.finalizou" (click)="marcarComoFinalizou(item)"><i class="far fa-check-circle"></i></button>
    <button *ngIf="item.finalizou" (click)="marcarComoNaoFinalizou(item)"><i class="fas fa-check-circle"></i></button> 
    <button (click)="remover(item)"><i class="far fa-trash-alt"></i></button>
  </li>
</ul>
<div id="modal" *ngIf="modo=='add'" class="animated flipInX">
  <h1 class="text-center">Nova Tarefa</h1>
  <form [formGroup]="form">
    <input type="text" placeholder="Titulo da tarefa" maxlength="30" formControlName="tituloTarefa">
    <small class="danger" *ngIf="form.controls.tituloTarefa.invalid && !form.controls.tituloTarefa.pristine">Este campo
      deve conter
      entre 3 a 60 caracteres</small>
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="adicionar()"><i class="far fa-save"></i> Salvar</button>
    </p>
  </form>
  <br>
</div>

<button class="add-button animated fadeInUp button" (click)="escolhaModo('add')" *ngIf="modo=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button class="add-button animated fadeInUp button" (click)="escolhaModo('list')" *ngIf="modo=='add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>
